body{
    padding: 0.1px;
    margin: 0;
}
div{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
}

.main_box{
    position: relative;
    width: 100%; height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    left: 0;right: 0;margin: auto;
}
/* 시작한후 나오는 */
/* 동그라미 애니메이션 */
.light_ani{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s .5s linear forwards;
    opacity: 0;
}
.light_ani2{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(202, 47, 47);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 1s linear forwards;
    opacity: 0;
}
.light_ani3{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(165, 17, 17);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 1.2s linear forwards;
    opacity: 0;
}
.light_ani4{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(221, 104, 26);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 1.4s linear forwards;
    opacity: 0;
}
.light_ani5{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(230, 210, 35);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 1.6s linear forwards;
    opacity: 0;
}
.light_ani6{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(154, 231, 31);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 1.8s linear forwards;
    opacity: 0;
}
.light_ani7{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(56, 228, 34);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 2s linear forwards;
    opacity: 0;
}
.light_ani8{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(35, 233, 118);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 2.2s linear forwards;
    opacity: 0;
}
.light_ani9{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(27, 170, 226);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 2.4s linear forwards;
    opacity: 0;
}
.light_ani10{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(29, 44, 243);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 2.6s linear forwards;
    opacity: 0;
}
.light_ani11{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(102, 27, 240);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 2.8s linear forwards;
    opacity: 0;
}
.light_ani12{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(224, 25, 214);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3s linear forwards;
    opacity: 0;
}
.light_ani13{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(236, 27, 226);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.1s linear forwards;
    opacity: 0;
}
.light_ani14{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(223, 22, 99);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.2s linear forwards;
    opacity: 0;
}
.light_ani15{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 21, 79);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.3s linear forwards;
    opacity: 0;
}
.light_ani16{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(252, 15, 15);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.4s linear forwards;
    opacity: 0;
}
.light_ani17{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(100, 4, 4);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.5s linear forwards;
    opacity: 0;
}
.light_ani18{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(29, 2, 2);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.6s linear forwards;
    opacity: 0;
}
.light_ani19{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(15, 1, 1);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.7s linear forwards;
    opacity: 0;
}
.light_ani20{
    position: absolute;
    width: 15px;height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    left: 0;right: 0;top: 0;bottom: 0; margin: auto;
    animation: 빙글 3s 3.75s linear forwards;
    opacity: 0;
}
@keyframes 빙글 {
    0%{
        opacity: 0;
        transform: rotate(0)
        translateX(0)
        scale(100%);
    }
    20%{
        transform: rotate(180deg)
        translateX(180px)
        scale(800%);
    }
    40%{
        transform: rotate(360deg)
        translateX(360px)
        scale(3400%);
    }
    60%{
        transform: rotate(540deg)
        translateX(540px)
        scale(15000%);
    }
    80%{
        transform: rotate(630deg)
        translateX(630px)
        scale(100000%);
    }
    100%{
        opacity: 1;
        transform: rotate(720deg)
        translateX(720px)
        scale(10000000%);
    }
}
/* 동그라미 두번째 애니메이션 */
.light_ani21{
    position: absolute;
    width: 2000px;height: 2000px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    left: 0;right: 0;bottom: 0;top: 0;margin: auto;
    animation: leftani 2s 3s ease-in forwards;
    opacity: 0;
}
@keyframes leftani {
    0%{
        opacity: 0;
        transform: translateX(-1000px);
        background-color: rgb(0, 0, 0);
    }
    20%{
        background-color: rgb(41, 159, 170);
    }
    40%{
        background-color: rgb(157, 18, 46);
    }
    80%{
        opacity: 1;
        background-color: rgb(113, 11, 82);
    }
    100%{
        opacity: 1;
        transform: translateX(0)
        scale(200%);
        background-color: black;
    }
}
/* my name 애니메이션 */
.name_box{
    position: absolute;
    text-align: center;
    top: 0;bottom: 0;left:0;right: 0;margin: auto;
    height: 100px;
    background-blend-mode: saturation;
    animation: name 2s linear ;
}
@keyframes name {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* 이름 뒤에 나오는 글 'index'텍스트 애니메이션 */
.index_text{
    position: absolute;
    text-align: center;
    top: 0;bottom: 0;left: 0;right: 0;margin: auto;
    height: 100px;
    opacity: 0;
    animation: test 6.8s linear;
    cursor: default;
}
@keyframes test {
    0%{
        opacity: 0;
    }
    40%{
        color: black;
        opacity: 0;
    }
    60%{
        color: rgb(214, 107, 111);
        opacity: 1;
    }
    80%{
        color: white;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* index 애니메이션 */
.startani{
    background-color: rgba(0, 0, 0, 0.004);
    position: absolute;
    width: 100px; height: 100px;
    border-radius: 50%;
    text-align: center;
    top: 0;bottom: 0;left: 0;right: 0;margin: auto;
    display: none;
    animation: leftani2 3s ease-in-out forwards;
    overflow: hidden;
}
.startani2{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 100px; height: 100px;
    border-radius: 50%;
    text-align: center;
    top: 0;bottom: 0;left: 0;right: 20px;margin: auto;
    display: none;
    opacity: 0;
    animation: leftani3 3s .5s ease-in-out forwards;
    overflow: hidden;
}
@keyframes leftani2 {
    0%{
        background-color: white;
        transform: translateX(0px)
        scale(0);
        opacity: 0;
        width: 100px;height: 100px;
    }

    50%{
        background-color: white;
        transform: translateX(0)
        scale(100%);
        opacity: 1;
    }
    70%{
        background-color: white;
        transform: translateX(1000px)
        scaleX(300%);
        width: 100px;height: 100px;
        border-radius: 50%;
    }
    100%{
        background-color: #000;
        transition: step-end;
        transform: translateX(1000px);
        width: 60%;height: 100%;
        border-radius: 0%;
        opacity: 1;
    }
}
@keyframes leftani3 {
    0%{
        transform: translateX(0px)
        scale(0);
        opacity: 0;
        width: 100px;height: 100px;
    }

    50%{
        transform: translateX(0)
        scale(100%);
        opacity: 1;
    }
    70%{
        transform: translateX(1000px)
        scaleX(300%);
        width: 100px;height: 100px;
        border-radius: 50%;
    }
    100%{
        transition: step-end;
        transform: translateX(1000px);
        width: 60%;height: 100%;
        border-radius: 0%;
        opacity: 1;
    }
}
/* 비디오1 */
.page1{
    width: 100%;height: 1000px;
    position: absolute;
    left: 0;right: 0;margin: auto;
    background: url(./jpg/소개_및_작품.jpg)no-repeat center;
    background-size: cover;
    transform: translateX(-200px);
    opacity: .5;
    display: none;
}
/* 비디오2 */
.page2{
    width: 100%;height: 1000px;
    position: absolute;
    left: -130px;right: 0;margin: auto;
    background: url(./jpg/Crimson\ Desert_Screen.png)no-repeat center;
    background-size: cover;
    transform: translateX(-200px);
    opacity: .5;
    display: none;
}
/* 비디오3 */
.page3{
    width: 100%;height: 1000px;
    position: absolute;
    left: -130px;right: 0;margin: auto;
    background: url(./jpg/DEADSPACE_Screen.png)no-repeat center;
    background-size: cover;
    transform: translateX(-200px);
    opacity: .5;
    display: none;
}
/* 목차 */
.index{
    list-style: none;
    text-align: left;
    margin: 50px;
    display: none;
}

.index li h3{
    padding-top: 50px; padding-bottom: 50px;
    padding-left: 100px;
    left: 0;right: 0;margin: auto;
    color: white;
}

/* 목차 첫번째 */
.page1_text{
    position: relative;
    font-size: 15px;
    cursor: pointer;
    width: 100%;height: 200px;
    border-radius: 20%;
    overflow: hidden;
    text-align: center;
    transition: all .5s;
    left: -300px;
    margin-top: 250px;
    background: url(./jpg/con1.png)no-repeat center;
    background-size: 300px;
}
/* 목차 두번쨰 */
.page2_text{
    position: relative;
    font-size: 15px;
    cursor: pointer;
    width: 100%;height: 200px;
    border-radius: 20%;
    overflow: hidden;
    text-align: center;
    transition: all .5s;
    left: -300px;
    background: url(./jpg/con1.png)no-repeat center;
    background-size: 300px;
}

/* 목차 세번째 */
.page3_text{
    position: relative;
    font-size: 15px;
    cursor: pointer;
    width: 100%;height: 200px;
    border-radius: 20%;
    overflow: hidden;
    text-align: center;
    transition: all .5s;
    left: -300px;
    background: url(./jpg/con1.png)no-repeat center;
    background-size: 300px;

}

/* 링크 텍스쳐 호버 설정 */
.page_text_hover{
    transform: translateX(-197px);
    transition: all .5s;
    background: url(./jpg/con2.png)no-repeat center;
    background-size: 300px;
}
.page_text_hover_off{
    transform: translateX(0px);
    transition: all .5s;
    background: url(./jpg/con1.png)no-repeat center;
    background-size: 300px;
}
/* a 링크 글짜 색상,호버 */
.page1_text a{
    color: #777;
    transition: all 1s;
}
.page2_text a{
    color: #777;
    transition: all 1s;
}
.page3_text a{
    color: #777;
    transition: all 1s;
}
/* a 태그 호버 설정 */
.page1_text a:hover{
    color: white;
    transition: all 1s;
}
.page2_text a:hover{
    color: white;
    transition: all 1s;
}
.page3_text a:hover{
    color: white;
    transition: all 1s;
}
/* 데코click박스 설정 */
.click_box{
    position: absolute;
    color: white;
    width: 200px;
    left: 670px;top: 70px;
    font-weight: 600;
    font-size: 20px;
    text-shadow: white 0 0 20px;
    z-index: -1;
}
/* 목차 원 데코 */
.deco1{
    position: absolute;
    width: 400px;height: 400px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: rgb(255, 255, 255)0 0 10px 10px;
    top: -200px;left: -100px;
    z-index: -1;
    opacity: 0;
    animation: scaleani 1s 3s ease-in-out forwards;
}
.deco2{
    position: absolute;
    width: 500px;height: 500px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(255, 255, 255, 0.3)0 0 100px 100px;
    bottom: -250px;left: 100px;
    z-index: -1;
    opacity: 0;
    animation: scaleani .9s 3.2s ease-in-out forwards;
}

@keyframes scaleani {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(100%,100%);
        opacity: .7;
    }
}
/* 비디오 위 로딩 애니메이션 */
.page1_deco{
    position: absolute;
    bottom: 100px;left: 100px;
    width: 50px;height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-right: rgba(0, 0, 0,0) 3px solid;
    border-left: rgba(0, 0, 0,0) 3px solid;
    border-top: rgba(0, 0, 0,0) 3px solid;
    border-bottom: white 3px solid;
    animation: 빙글로딩 1s linear forwards ;
    display: none;
}
.page2_deco{
    position: absolute;
    bottom: 100px;left: 100px;
    width: 50px;height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-right: rgba(0, 0, 0,0) 3px solid;
    border-left: rgba(0, 0, 0,0) 3px solid;
    border-top: rgba(0, 0, 0,0) 3px solid;
    border-bottom: white 3px solid;
    animation: 빙글로딩 1s linear forwards ;
    display: none;
}
.page3_deco{
    position: absolute;
    bottom: 100px;left: 100px;
    width: 50px;height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-right: rgba(0, 0, 0,0) 3px solid;
    border-left: rgba(0, 0, 0,0) 3px solid;
    border-top: rgba(0, 0, 0,0) 3px solid;
    border-bottom: white 3px solid;
    animation: 빙글로딩 1s linear forwards ;
    display: none;
}
@keyframes 빙글로딩 {
    0%{
        transform: rotate(0);
    }
    30%{
        transform: rotate(-360deg);
        border-radius: 50%;
    }
    60%{
        transform: rotate(-720deg);
        border-radius: 50%;
    }
    70%{
        border-radius: 0;
        transform: scaleX(100%);
    }
    100%{
        border-radius: 0;
        transform: scaleX(1000%);
        background-color: rgba(0, 0, 0, 0);
    }
}
/* 로딩 후 텍스트 */
.page1_deco_text{
    position: absolute;
    bottom: 100px;left: 50px;
    color: white;
    font-weight: 600;
    display: none;
    opacity: 0;
    animation: 데코 1s linear forwards;
}
.page2_deco_text{
    position: absolute;
    bottom: 100px;left: 50px;
    color: white;
    font-weight: 600;
    display: none;
    opacity: 0;
    animation: 데코 1s linear forwards;
}
.page3_deco_text{
    position: absolute;
    bottom: 100px;left: 50px;
    color: white;
    font-weight: 600;
    display: none;
    opacity: 0;
    animation: 데코 1s linear forwards;
}
@keyframes 데코 {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* 콘센트 옆 빛나는 애니메이션 */
.page1_deco2{
    position: absolute;
    width: 50px;height: 50px;
    left: 860px;right: 0;margin: auto;
    top: 410px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: white 0 0 30px 20px;
    backdrop-filter: blur(10px);
    animation: 빛 1s linear forwards;
    display: none;
}
.page2_deco2{
    position: absolute;
    width: 50px;height: 50px;
    left: 860px;right: 0;margin: auto;
    top: 610px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: white 0 0 30px 20px;
    backdrop-filter: blur(10px);
    animation: 빛 1s linear forwards;
    display: none;
}
.page3_deco2{
    position: absolute;
    width: 50px;height: 50px;
    left: 860px;right: 0;margin: auto;
    top: 810px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: white 0 0 30px 20px;
    backdrop-filter: blur(10px);
    animation: 빛 1s linear forwards;
    display: none;
}
@keyframes 빛 {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: .5;
    }
}
/* 전원off버튼 */
.power_off{
    position: absolute;
    width: 70px;height: 70px;
    background: url(./jpg/power_off.png)no-repeat center;
    background-size: cover;
    transition: all .3s;
    left: 0;right: 1850px;margin: auto;
    top: 10px;
    display: none;
    animation: 전원 1s linear forwards;
}
@keyframes 전원 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.power_off:hover{
    background: url(./jpg/power_off_hover.png)no-repeat center;
    background-size: cover;
    transition: all .3s;
}
.power_off:active{
    background: url(./jpg/power_off_click.png)no-repeat center;
    background-size: cover;
    transition: all .1s;
}
/* 전원 버튼 누르면 그자리에 똑같은 버튼이 나타남 */
.power_off2{
    position: absolute;
    width: 70px;height: 70px;
    background: url(./jpg/power_off.png)no-repeat center;
    background-size: cover;
    transition: all .3s;
    left: 0;right: 1850px;margin: auto;
    top: 10px;
    display: none;
    animation: 전원 1s linear forwards;
}
.power_off2:hover{
    background: url(./jpg/power_off_hover.png)no-repeat center;
    background-size: cover;
    transition: all .3s;
}
.power_off2:active{
    background: url(./jpg/power_off_click.png)no-repeat center;
    background-size: cover;
    transition: all .1s;
}

/* 이름 빙글빙글 애니메이션 */
.nameani-con{
    display: none;
    opacity: 0;
    animation: 이름투명 1s linear forwards;
}
@keyframes 이름투명 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.nameani{
    position: absolute;
    left: 0;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #fff;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani2{
    position: absolute;
    left: 2px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #fff;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani3{
    position: absolute;
    left: 4px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #eee;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani4{
    position: absolute;
    left: 6px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #eee;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani5{
    position: absolute;
    left: 8px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #ddd;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani6{
    position: absolute;
    left: 10px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #ddd;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani7{
    position: absolute;
    left: 12px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #ccc;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani8{
    position: absolute;
    left: 14px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #ccc;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani9{
    position: absolute;
    left: 16px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #bbb;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani10{
    position: absolute;
    left: 18px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #bbb;
    animation: nameani 5s linear infinite;
    font-size: 30px;
}
.nameani11{
    position: absolute;
    left: 20px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #aaa;
    animation: nameani 5s linear infinite;
    font-size: 30px;

}
.nameani12{
    position: absolute;
    left: 22px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #aaa;
    animation: nameani 5s linear infinite;
    font-size: 30px;

}
.nameani13{
    position: absolute;
    left: 24px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #999;
    animation: nameani 5s linear infinite;
    font-size: 30px;

}
.nameani14{
    position: absolute;
    left: 26px;right: 0;margin: auto;top: 0;bottom: 0;
    width: 400px;height: 200px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    color: #999;
    animation: nameani 5s linear infinite;
    font-size: 30px;

}
@keyframes nameani {
    0%{
        transform:perspective(500px) rotateY(0deg);
    }
    100%{
        transform:perspective(500px) rotateY(360deg);
    }
}

/* test */
/* 3D 애니메이션 */
/* 많이 엉성함 */

/* .container2{
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;margin: auto;
    width: 100%;height: 100px;
    animation: ttt 5s linear infinite;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    display: none;
}
.container{
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;margin: auto;
    width: 100%;height: 100px;
    animation: ttt 10s linear infinite;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    display: none;
}
@keyframes ttt {
    0%{
        transform: rotateZ(0deg) rotateX(0) perspective(2000px) rotateY(0);
    }
    100%{
        transform: rotateZ(350deg) rotateX(360deg) perspective(2000px) rotateY(360deg);
    }
}
.boox{
    position: absolute;
    opacity: .5;
    width: 50px;height: 50px;
    top: 0;bottom: 0; left: 0; right: 0;margin: auto;
    background-color: aquamarine;
    transform: rotateY(calc(var(--i)* 1deg)) translateZ(280px);
    animation: 테스트투명 1s linear forwards;
}
@keyframes 테스트투명 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: .5;
    }
}
.left-box{
    position: absolute;
    width: 720px;height: 500px;
    background: linear-gradient(to right bottom,#999,#888,#555);
    left: 0;right: 1000px;margin: auto;top: 0;bottom: 0;
    animation: testleft 1s linear forwards;
    transform-style: preserve-3d;
    display: none;
}
@keyframes testleft {
    0%{
        opacity: 0;
        transform:  perspective(1000px) rotateY(0) translateX(-500px);
    }
    100%{
        opacity: .5;
        transform:  perspective(1000px) rotateY(50deg) translateX(0px);
    }
}
.right-box{
    position: absolute;
    width: 720px;height: 500px;
    background: linear-gradient(to left bottom,#888,#777,#555);
    left: 970px;right: 0;margin: auto;top: 0;bottom: 0;
    animation: testrigth 1s linear forwards;
    transform-style: preserve-3d;
    display: none;
}
@keyframes testrigth {
    0%{
        opacity: 0;
        transform:  perspective(1000px) rotateY(0) translateX(500px);
    }
    100%{
        opacity: .5;
        transform:  perspective(1000px) rotateY(-50deg) translateX(0);
    }
}
.bottom-box{
    position: absolute;
    width: 900px;height: 900px;
    background: linear-gradient(to top,#777,#666,#444);
    left: 10px;right: 0;margin: auto;top: 480px;bottom: 0;
    animation: testbottom 1s linear forwards;
    transform-style: preserve-3d;
    display: none;
}
@keyframes testbottom {
    0%{
        opacity: 0;
        transform:  perspective(1000px) rotateX(0) translateY(1000px);
    }
    100%{
        opacity: .5;
        transform:  perspective(1000px) rotateX(82.2deg) translateY(0);
    }
}
.front-box{
    position: absolute;
    left: 10px;right: 0;top: 0;bottom: 0; margin: auto;
    width: 770px;height: 500px;
    background: linear-gradient(to right bottom,#777,#555,#444);
    transform-style: preserve-3d;
    animation: frontani 1s linear forwards;
    display: none;
}
@keyframes frontani{
    0%{
        opacity: 0;
        transform: perspective(1000px) rotateZ(0deg) scale(.1,.1);
    }
    100%{
        opacity: .5;
        transform: perspective(1000px) translateZ(-260px) scale(1,1);
    }
} */

